{% if not overwrite_requirements %}datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert<6.0.0
nbformat
dill
rpy2
jupytext
numpy==1.16.0
tornado==5.1.1
otter-grader==1.1.6
{% endif %}{% if other_requirements %}
{{ other_requirements }}{% endif %}