{% if not overwrite_requirements %}datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
numpy
otter-grader==4.0.2
{% endif %}{% if other_requirements %}
{{ other_requirements }}{% endif %}