{% if not overwrite_requirements %}datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
numpy
git+https://github.com/ucbds-infra/otter-grader.git@f762e882c76ac31f08440eae317a1c1dc650cf3b
{% endif %}{% if other_requirements %}
{{ other_requirements }}{% endif %}