{% if not overwrite_requirements %}datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
jupytext
numpy
git+https://github.com/ucbds-infra/otter-grader.git@0b28bf37bbd772a70b9f6f29e0236058099a4ccb
{% endif %}{% if other_requirements %}
{{ other_requirements }}{% endif %}