[run]
source = otter

concurrency = thread

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError

    # Ignore ellipse statements
    \.\.\.

omit =
    # This file is just calls otter.cli.cli
    otter/__main__.py

    # This file is a copy of an external script and is not tested as part of Otter
    otter/plugins/builtin/gmail_notifications/bin/gmail_oauth2.py

    # ignore templates
    otter/generate/templates/**/*
