__pycache__
.coverage
.DS_Store
.ionide
.ipynb_checkpoints
.git
.github
.mypy.cache
.pytest_cache
.OTTER_LOG
.Rproj.user
.Rhistory
.sos
.vscode
*.egg-info
build
dist
docs
examples
logo
poetry.lock
test
