include requirements.txt
exclude .coveragerc
exclude .dockerignore
exclude .gitattributes
exclude .github
exclude .gitignore
exclude .readthedocs.yml
exclude codecov.yml
exclude Dockerfile
exclude docs
exclude environment.yml
exclude examples
exclude logo
exclude Makefile
exclude release.py
exclude rtd_environment.yml
exclude slack-shields.json
exclude test
