datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
tqdm
codecov
jinja2
docker
requests
nbconvert
nbformat
dill
pdfkit
PyPDF2

# plugins
gspread

# ottr requirements
rpy2
jupytext

# otter service requirements
psycopg2
queries
pyyaml
docker
PyJWT
tornado
stdio-proxy

# documentation requirements
recommonmark
sphinx_markdown_tables
sphinx-book-theme==0.0.39
sphinxcontrib-apidoc
sphinx-argparse
