jupyter_client
ipykernel
matplotlib
pandas
jinja2
docker
requests
nbconvert
nbformat
dill
pdfkit
PyPDF2

# plugins
gspread
google-auth-oauthlib
google-api-python-client
six

# ottr requirements
jupytext
# rpy2 is also required but not included here because R is required for its installation
