datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
tqdm
codecov
jinja2
docker
nb2pdf
requests
nbconvert
nbformat
dill
jupytext

# otter service requirements
psycopg2
queries
pyyaml
docker
PyJWT
tornado
stdio-proxy

# testing requirements
testing.postgresql

# documentation requirements
recommonmark
sphinx_markdown_tables
git+https://github.com/executablebookproject/sphinx-book-theme.git@35357b09fa4b3bc70259109d19ef795badbcd5b8
sphinxcontrib-apidoc
sphinx-argparse