datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
rpy2
jupytext
numpy
git+https://github.com/ucbds-infra/otter-grader.git@9710b3c57b4b8b7c29f4f44afc505cef2cdbd62f
