datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
rpy2
jupytext
numpy
git+https://github.com/ucbds-infra/otter-grader.git@b0824d65208cfb58673c9c08044850bf3f452955
