datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
jupytext
numpy
git+https://github.com/ucbds-infra/otter-grader.git@41ff62027c000a40b0dfd2ea33ae1f7899040fc3

tqdm
