datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
numpy
git+https://github.com/ucbds-infra/otter-grader.git@6ee10a36b4267f924cceaf21f684f44fc5ab76bb

tqdm
