datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
jupytext
numpy
git+https://github.com/ucbds-infra/otter-grader.git@d32c2aa1601035d2377cdbc9d2e24d362aec10fb

tqdm
