datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
numpy
git+https://github.com/ucbds-infra/otter-grader.git@fcfb78cb3b97c588743469c774dda44df9f388d0
