datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
numpy
git+https://github.com/ucbds-infra/otter-grader.git@e3645895a5247475c557d5a5cb10b8992c9ab84a
