datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
scikit-learn
jinja2
nbconvert
nbformat
dill
numpy
gspread
google-api-python-client
google-auth-oauthlib
six
otter-grader==4.4.1
