datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
numpy==1.16.0
tornado==5.1.1
git+https://github.com/ucbds-infra/otter-grader.git@c0dce6656d9142a7dc04dd0d2e6562ec0c903373
tqdm
