datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
rpy2
jupytext
numpy
git+https://github.com/ucbds-infra/otter-grader.git@05ff1ca7ab20f6919865d27ce0ecf783b540e212