datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
rpy2
jupytext
numpy
git+https://github.com/ucbds-infra/otter-grader.git@1dd48ebfcc66e24f5d443f9ad94a422dad29d2ec