datascience
jupyter_client
ipykernel
matplotlib
pandas
ipywidgets
scipy
seaborn
sklearn
jinja2
nbconvert
nbformat
dill
rpy2
numpy
git+https://github.com/ucbds-infra/otter-grader.git@c83cb026e9d533e827ceeadf5f6b039f0e1f0fde
