@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

b, strong {
    font-weight: 700;
}

iframe {
    width: 100%;
    height: 600px;
    border: none;
}

th, td {
    padding: 5px;
}

table {
    display: table !important;
    width: 100%;
    margin-bottom: 15px;
}
